{% extends "./base.html" %}
{% block body %}
        <!-- skills -->
        <div class="skill-section">
            <h1 class="heading">mis habilidades</h1>
            <div class="skills-container">
                <div class="skill-card">
                    <img src="/static/images/html.png" class="skill-img" alt="">
                    <div class="skill-level">20%</div>
                    <h1 class="skill-name">HTML</h1>
                    <p class="skill-info">estoy en los inicios de la programacion y aprendiendo lo mas importante de HTML</p>
                </div>
                <div class="skill-card">
                    <img src="/static/images/css.png" class="skill-img" alt="">
                    <div class="skill-level">20%</div>
                    <h1 class="skill-name">CSS</h1>
                    <p class="skill-info">tengo un poco de conocimiento de CSS estoy en la tarea de mejorar mis habilidades</p>
                </div>
                <div class="skill-card">
                    <img src="/static/images/js.png" class="skill-img" alt="">
                    <div class="skill-level">10%</div>
                    <h1 class="skill-name">JS</h1>
                    <p class="skill-info">tengo un poco de conocimiento de JS estoy en la tarea de mejorar mis habilidades</p>
                </div>
                <div class="skill-card">
                    <img src="/static/images/nodejs.png" class="skill-img" alt="">
                    <div class="skill-level">0%</div>
                    <h1 class="skill-name">Node.js</h1>
                    <p class="skill-info">no tengo conocimiento de Node.js pero estoy en la tarea de mejorar mis habilidades</p>
                </div>
                <div class="skill-card">
                    <img src="/static/images/reactjs.png" class="skill-img" alt="">
                    <div class="skill-level">0%</div>
                    <h1 class="skill-name">React.js</h1>
                    <p class="skill-info">no tengo conocimiento de React.js pero estoy en la tarea de mejorar mis habilidades</p>
                </div>
            </div>
        </div>

        <!-- timeline -->
        <div class="timeline">
            <h1 class="heading">experiencias y estudio</h1>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2000-2002</h1>
                    <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2002-2004</h1>
                    <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2004-2006</h1>
                    <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2006-2008</h1>
                    <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">2008-2010</h1>
                    <p class="card-detail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi recusandae laborum ipsam dignissimos nostrum vitae provident officia, consectetur ab accusantium corrupti exercitationem temporibus repellat non magni cupiditate ea reprehenderit.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
    